<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>05.4</title>  
  <script src="src/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="05.4cssClass.css">
</head>
<body>

  <div id="app">
    <div class="demo" :style="{backgroundColor: color}"></div>
    <div class="demo" :style="{'background-color': color}"></div>
    <div class="demo" :style=myStyle></div>
    <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
    <hr>
    <input type="text" v-model="color">
    <input type="text" v-model="width">
  </div>
</body>
<footer>
	<script src="05.4cssClass.js"></script>
</footer>
</html>